

<div>
  <section id="container">


<aside >
  
  <div id="sidebar" class="" tabindex="5000" style="background-color: #c4e1f7;"> 
    <ul class="sidebar-menu" id="nav-accordion">
      <p class="centered"><a><img src="" class="img-circle" width="80"></a>
        <a><img src="" class="img-circle" width="110" style="margin-left: -10px;" ></a></p>
       <li class="title">
        <a routerLink ="/acceuil" >
          <i class="fa fa-globe" style="color: black;"></i>
          <span style="color: black;">Retourner au Site</span>
          </a>
      </li> 
      <li class="active">
          <a  href="espaceResponsable">
              <i class="fa fa-wrench" style="color: black;"></i>
              <span  style="color: black;" class="title">Tableau de bord</span>
          </a>
      </li>

      <li class="active">
        <a  href="listeMembre">
            <i class="fa fa-list"  style="color: black;"></i>
            <span  style="color: black;" class="title">liste des Adhérents</span>
        </a>
    </li>
      <li class="active">
        <a  href="plan">
            <i class="fa fa-calendar" style="color: black;"></i>
            <span  style="color: black;" class="title">Plan de Formation</span>
        </a>
    </li>
    <li class="active">
      <a  href="reservation">
        <i class="fa fa-search"  style="color: black;" aria-hidden="true"></i>
          <span  style="color: black;" class="title">Réservation des salles</span>
      </a>
  </li>
  <li class="active">
    <a  href="listeAutresResp">
      <i class="fa fa-list"  style="color: black;" aria-hidden="true"></i>
        <span  style="color: black;" class="title">Liste des Clubs</span>
    </a>
</li>
  <li class="active">
    <a  href="profilClub">
      <i class="fa fa-user"  style="color: black;" aria-hidden="true"></i>
        <span  style="color: black;" class="title"> Mon profil</span>
    </a>
</li>
       
      
        <li class="">
          <a >
              <i class="fa fa-arrow-left"  style="color: black;"></i>
              <span class="title" style="color: black;">Déconnexion</span></a>
    
        </li> 
      
    
     
      
    </ul>

  </div>
</aside>


<section id="main-content">
  <section class="wrapper" >

      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>
    </section>

</section>

</div>

<!-- /////////////////////////////////modal///////////////////////////////////////// -->


