
  <nav class="navbar navbar-light" style="background-color: #e3f2fd;margin-top: -1px;">
   
   
    <a href="" class="logo" style="font-size: 1px;" style="margin-top: 0px;">
     
      <img style="width: 65px;margin-top: 10px; margin-left: 30px;" class="logo"
      src="assets/isitcom.png" alt="logo"
       >
</a>
    <div class="nav notify-row" id="top_menu">

     <ul class="nav top-menu">
      <li class="dropdown">
        <a class="btn btn-light" routerLink="/inscription" style="margin-left: -50px; margin-top: 4px;">Etudiant Area</a>
       
      </li>
      <li class="dropdown">
        <a class="btn btn-light" routerLink="/inscriptionResp" style="margin-left: 10px; margin-top: 4px;">Responsable Area</a>
       
      </li>
      <li id="header_inbox_bar" class="dropdown">
        <a class="btn btn-light" routerLink="/login" style="margin-top: 4px; margin-left: 800px;">Se Connecter</a>
        
      </li>
     </ul>
    
   </div>
    
    <div class="top-menu">
  
   
  
     
    </div>
  </nav>

