<nav class="navbar navbar-light custom-navbar">
  <a href="#" class="logo">
      <img src="assets/the_jungle.png" alt="logo" >
  </a>

  <div class="nav-links">
      <ul class="nav top-menu">
          <li class="dropdown">
              <a class="btn btn-primary" routerLink="/inscription">Member </a>
          </li>
          <li class="dropdown">
              <a class="btn btn-primary" routerLink="/inscriptionResp">Coach </a>
          </li>
          <li id="header_inbox_bar" class="dropdown">
              <a class="btn btn-primary" routerLink="/login">Login</a>
          </li>
      </ul>
  </div>
</nav>
