<app-navbar-supp></app-navbar-supp>
<app-sidebar-responsable></app-sidebar-responsable>

  
  <h3><i class="fa fa-angle-double-right" style="margin-left: 280px; margin-top: -2px;"></i> Liste Des responsables</h3>
  <div _ngcontent-roy-c3="" class="card-body bg-light">
           <div >
                <input type="text" class="form-control" [(ngModel)]="term"   placeholder="Search"  style="height: 30px; width: 400px; margin-left: 280px; margin-top: 5px;" > 
                  </div>
                        
             <table class="table table-striped" style="margin-top: 8%;" >
                  
                      <thead class="thead-inverse">
                        <tr>
                          <th>Nom</th>
                          <th>Nom du Club </th>
                          <th>E-mail
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                          </th>
                          <th>Téléphone   
                            <i class="fa fa-phone" aria-hidden="true"></i>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let responsable of Responsable | paginate : {itemsPerPage: 3, currentPage: p} " >
                           
                              <td>{{responsable.nomR }} </td>
                              <td>{{responsable.nomResp}}</td>
                              <td>{{responsable.emailEnt}}</td>
                              <td>{{responsable.telEnt}}</td>
                             
                          </tr>
                      </tbody>
                      
                    </table>
  
  
                    <div class="pagination" style="margin-top: 410px;">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                  </div>
                
              











