
<app-navbar-supp></app-navbar-supp>
<app-sidebar-responsable></app-sidebar-responsable>
<h3><i class="fa fa-angle-double-right" style="margin-left: 280px; margin-top: -10px;"></i> Liste des Séances</h3>

      <button style="margin-left: 1280px; margin-top: -190px;" routerLink="/AjoutEvent" type="button" class="btn btn-info"  > 
        <span class="fa fa-plus"></span>
      </button>
<body style="margin-top: -1px;">
    <div class="card-group" style="margin-left: 310px;margin-top: -2px;">
        <div *ngFor="let seance of Seance | paginate : {itemsPerPage: 4, currentPage: p}" class="col-md3 my-2">
            <div class="card" style="width: 15rem; height: 15rem;">
                <div class="card-body">
                    <h5 class="card-title" >{{seance.day| pipe:"":"-"}}</h5>
                    <small class="text-muted"> Coach is : {{seance.coach}}</small>
                    <h6>{{seance.startTime}} ----> {{seance.endTime}}</h6>
                    
                      <p style="margin-top: 10px; margin-left: 40px;" >
                          <button  class="action-button btn-warning" type="button" routerLink="/updateFormation/{{seance._id}}" > 
                            <span class="fa fa-edit"></span>
                          </button>
                <button  class="action-button btn-light"   routerLink="/Participant/{{seance._id}}"  (click)="getList(seance._id)" style="font-size:14px;">
                    <span class="fa fa-list" style="font-size: 20px;"></span>
                  </button>
                </div>
            </div>
        </div>
    </div>
    <div class="pagination" style="margin-top: -5px; margin-left: 800px;">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
</body>




