<app-navbar-supp></app-navbar-supp>

<app-sidebar-responsable></app-sidebar-responsable>

<div class="wrapper">
    <div class="left"> 

       <img src="assets/adherent.png" alt="user" width="150" class="" > 
      <br>
      <br>
      <h4>{{Adherent.prenom | uppercase}} {{Adherent.nom | uppercase}}  </h4>
     
  
    </div>
          
    <div class="right">
  
      <div class="info">
            <h3> Contact Informations </h3>
        <div class="info_data">
          <div class="data">
            <h4>Civility</h4>
            <p> {{Adherent.civilite}}</p>
          </div>
              <div class="data">
                <h4>First Name</h4>
                <p> {{Adherent.prenom}}</p>
            </div>
            <div class="data">
              <h4>Last Name</h4>
              <p> {{Adherent.nom}}</p>
          </div> 
      </div>
      <div class="info_data">
        <div class="data">
          <h4>Email</h4>
          <p> {{Adherent.email}}</p>
        </div>
        <div class="data">
          <h4>Phone number</h4>
          <p> {{Adherent.telephone}}</p>
      </div>
      </div>
    </div>   
   
      
      </div>
    
    </div>
  
    
     
      
  

       
          
             
    
  
              
  
          
  