
<app-navbar-supp></app-navbar-supp>
<app-sidebar-membre></app-sidebar-membre>

 

<div class="row" style="width: 1100px;">
    <div class="col-md-12" style="margin-top: -60px; margin-left: 220px; width: 1150px;" >
        <div class="panel panel-default">
           

                <div class="panel-body">
             


<div class="container" >


    
    <div class="row" style="width: 1000px;">
  
        
        <div class="col-lg-1"></div>
  
        <div class="col-lg-10">
            <div id="ui">
                <form>
                <h3><i class="fa fa-angle-right"></i> Les Informations Personnelles</h3>
                <br>
  
                <div class="row">
                    <div class="col-lg-6">
                        <label for="nom">Nom</label>
                        <input type="text" name="nom" class="form-control"  id="nom" 
                       [(ngModel)] ="Adherent.nom" >
                    </div>
  
                    <div class="col-lg-6">
                        <label for="prenom">Prénom</label>
                        <input type="text" name="prenom" class="form-control" id="prenom" 
                        [(ngModel)] ="Adherent.prenom" >
                    </div>
                    <div class="col-lg-6">
                        <label for="fname">Email</label>
                        <input type="text" name="email" class="form-control"id="email" 
                        [(ngModel)] ="Adherent.email" >
                        </div>
                        <div class="col-lg-6">
                            <label for="fname">Phone</label>
                            <input type="text" name="telephone" class="form-control"  id="telephone" 
                            [(ngModel)] ="Adherent.telephone" >
                        </div>
                </div>
                <div class="row">
                    
  
      
                </div>
  
                
<br>
<button (click)="update();opensweetalert()" class = "btn" type ="button" style="height:35px ; margin-top: 5px;" >Enregistrer</button>

            </form>
            </div>
  
        
  
    </div>
  
    <div class="col-lg-1"></div>
  
    </div>
    
        
    
  </div>
                </div>

                
            </div>

        </div>
    </div>




