<app-navbar-supp></app-navbar-supp>
 <app-sidebar-responsable></app-sidebar-responsable> 

 <!------------------------------------------------Tableauuuuuuuu des adhérents-------------------------------------------->
     
<h3><i class="fa fa-angle-double-right" style="margin-left: 280px; margin-top: -2px;"></i> Liste des Adhérents</h3>
<div _ngcontent-roy-c3="" class="">
         <div >
              <input type="text" class="form-control"    placeholder="Search"  style="height: 30px; width: 400px; margin-left: 280px; margin-top: 5px;" > 
                </div>
                      
           <table class="table table-striped" style="margin-top: 5%;" >
                
                    <thead class="thead-inverse">
                    <tr>
                      <th>Picture</th>
                      <th><i class="fa fa-user" aria-hidden="true"></i>  Name</th>
                      <th><i class="fa fa-envelope" aria-hidden="true"></i>  email
                      </th>
                      <th style="width:80px;">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let Adherents of Adherent  | paginate : {itemsPerPage: 2, currentPage: p}" >
                          <img src="assets/adherent.png" width="100" style="margin-left:130px;" class="circle">
                            <td>{{Adherents.nom }} {{Adherents.prenom}} </td>
                           
                            
                            <td>{{Adherents.email}}</td>
                           
                             
                            <td>
                              <div class="container">
                              <button class="action-button btn-success" [routerLink]="['/profil-membre',Adherents.id]">
                                <span class="fa fa-info"></span>
                
                              </button>
                             
                              
                              <button  class="action-button btn-danger" type="button" (click)="opensweetalert2();delete(Adherents.id)" > 
                                <span class="fa fa-trash"></span>
                              </button>
                                
                             
                            </div>
                            
                            </td> 
                           
                        </tr>
                    </tbody>
                    
                  </table>


                  <div class="pagination" style="margin-top: 300px;">

                  <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </div>
                </div>
              
                

