
<app-navbar-supp></app-navbar-supp>
<app-sidebar-responsable></app-sidebar-responsable>
<div class="row" style="width: 1100px;">
    <div class="col-md-12" style="margin-top: -60px; margin-left: 220px; width: 1150px;" >
        <div class="panel panel-default">
                <div class="panel-body">
<div class="container" >
    <div class="row" style="width: 1000px;">
  
        
        <div class="col-lg-1"></div>
  
        <div class="col-lg-10">
            <div id="ui">
                <form>
                <h3><i class="fa fa-angle-right"></i> Modifier Un Evénement</h3>
                <br>
  
                <div class="row">
                    <div class="col-lg-6">
                        <label for="day">day</label>
                        <input type="text" name="day" class="form-control"  id="day" 
                       [(ngModel)] ="Seance.day" >
                    </div>
  
                    <div class="col-lg-6">
                        <label for="startTime">start Time</label>
                        <input type="time" name="startTime" class="form-control" id="startTime" 
                        [(ngModel)] ="Seance.startTime" >
                    </div>
                    <div class="col-lg-6">
                        <label for="endTime">end Time</label>
                        <input type="time" name="endTime" class="form-control" id="endTime" 
                        [(ngModel)] ="Seance.endTime" >
                        </div>
                        <div class="col-lg-6">
                            <label for="coach">Coach</label>
                            <input type="text" name="coach" class="form-control"  id="coach" 
                            [(ngModel)] ="Seance.coach" >
                        </div>
                </div>
                <div class="row">
                    
  
                  
                </div>
                <div class="row">
               

<br>
<br>
<br>
             
            
                </div>
                
<br>
<button (click)="update(Seance)" class = "btn" type ="button" style="height:35px ; margin-top: 5px;" > Enregistrer </button>
            </form>
            </div>
  
        
  
    </div>
  
    <div class="col-lg-1"></div>
  
    </div>
    
        
    
  </div>
                </div>

                
            </div>

        </div>
    </div>




