<app-navbar></app-navbar>

<div class="container pt-10" style="margin-top: 8%">
    <div class="row">
      <div
        class="col-sm d-flex justify-content-center align-items-start landingText mr-10"
      >
        <div class="col ml-3">
          <div>
            <p class="text-start">
              <span style="font-size: 28pt;"
                ><strong style="color:coral;">ISITCOM</strong>, Institut Supérieur d'Informatique et des Technologies de Communication de Sousse.</span
              ><br />
              <span style="font-size: 17pt;"> C'est un espace dédié pour Les membres des Clubs pour avoir une meilleure gestion des clubs su sein de L'isitcom.
                </span
              >
            </p>
          </div>
  
          <div>
            <!-- <button
              mdbBtn
              type="button"
              
              color="indigo"
              class="buttonText"
              mdbWavesEffect
              routerLink="/candidat"
            >
            
            </button> -->
          </div>
        </div>
      </div>
      <div class="col-sm d-flex justify-content-center ">
        <img src="assets/isit.png" width="553" height="300" style="margin-top: 16%;" />
      </div>
    </div>
  </div>