<app-navbar></app-navbar>

<div class="container pt-10" style="margin-top: 2%">
  <div class="row">
    <div class="col-sm d-flex justify-content-center align-items-start landingText mr-10">
      <div class="col ml-3">
        <div>
          <p class="text-start">
            <span style="font-size: 28pt;"><strong style="color:#096509;">THE JUNGLE</strong>, The best Gym in
              town.</span><br />
            <span style="font-size: 17pt;"> "Welcome to The Jungle, where fitness meets excellence! At our
              state-of-the-art facility, we're dedicated to helping you achieve your health and wellness goals, whatever
              they may be. Whether you're a seasoned athlete or just beginning your fitness journey, our expert trainers
              and cutting-edge equipment are here to support you every step of the way. Join our vibrant community today
              and experience the energy, motivation, and results that define The Jungle.
              Your transformation starts here!"
            </span>
          </p>
        </div>

        <div>

        </div>
      </div>
    </div>
    <div class="col-sm d-flex justify-content-center ">
      <video width="653" height="380" style="margin-top: 10%;" autoplay loop>
        <source src="../../assets/C_ESTB~1.MP4" type="video/mp4">
      </video>
    </div>
  </div>