<app-navbar-supp></app-navbar-supp>
<app-sidebar-responsable></app-sidebar-responsable> 

<div class="wrapper" style="margin-top: 100px; margin-left: -10px;">
    <div class="left"> 
     
      <br>
      <br>
      <!-- <h4 style="color: rgb(7, 6, 6);"> {{Responsable.nomR}} </h4> -->
      <h4 style="color: rgb(7, 6, 6);">"{{Responsable.CoachOf}}" </h4>
     
  
    </div>
          
    <div class="right">
  
      <div class="info">
            <h3> informations sur le Coach</h3>
        <div class="info_data">
              <div class="data">
                <h4>Email</h4>
                <p> {{Responsable.emailEnt}}</p>
            </div>
            <div class="data">
              <h4>Nom et Prénom </h4>
              <p> {{Responsable.nomR}}</p>
          </div>
          <br>
   
  
      </div>
    

    </div>
 
<div class="row">

  

</div> 

          
      </div>
      
  
      
    </div>
  
