<app-navbar-supp></app-navbar-supp>
<app-sidebar-responsable></app-sidebar-responsable> 

<div class="wrapper" style="margin-top: 100px; margin-left: -10px;">
    <div class="left"> 
     
      <br>
      <br>
      <img src="assets/coach.png" style="width: 180px; margin-left: 4px; margin-top: -30px;" alt="logo">
      <!-- <h4 style="color: rgb(7, 6, 6);"> {{Responsable.nomR}} </h4> -->
      <h4 style="color: rgb(7, 6, 6);"> </h4>
     
  
    </div>
          
    <div class="right">
  
      <div class="info">
            <h3> Coach Informations</h3>
        <div class="info_data">
              <div class="data">
                <h4>Name :</h4>
                <p>  {{Responsable.nomR}}</p>
                <div class="data">
                  <h4>CoachOf :</h4>
                  <p>{{Responsable.CoachOf}} </p>
              </div>
            </div>
            <div class="data">
              <h4>Email :</h4>
              <p>{{Responsable.emailEnt}} </p>
              
          </div>
          

          <br>
   
  
      </div>
    

    </div>
 
<div class="row">

  

</div> 

          
      </div>
      
  
      
    </div>
  
