<app-navbar-supp></app-navbar-supp>
<app-sidebar-membre></app-sidebar-membre>


        <div class="wrapper" style="margin-top: 50px; margin-left: 10px;">
          <div class="left"> 
            <img src="assets/gym.png"  width="280" class="">
            <br>
            <br>
            <h4>{{Adherent.nom |uppercase}} {{Adherent.prenom |uppercase}} </h4>
        
          </div>
                
          <div class="right">
        
            <div class="info">
                  <h3>Contact Information :</h3>
              <div class="info_data">
               
                    <div class="data">
                      <h4>Email address</h4>
                      <p> {{Adherent.email}}</p>
                  </div>
                 
                <div class="data">
                  <h4>Phone Number</h4>
                  <p> {{Adherent.telephone}}</p>
              </div>

            </div>
          </div>
                  
          <div class="projects">
        
              <h3>Personal Informations  :</h3>
              <div class="info_data">
               
               
            </div>
            <div class="info_data">
              <div class="data">
                <h4>First Name</h4>
                <p> {{Adherent.nom}}</p>
              </div>
              <div class="data">
                <h4>Last Name</h4>
                <p> {{Adherent.prenom}}</p>
              </div>
           
            </div>
           
          </div>
        
          
        
        </div>
   