<app-navbar-supp></app-navbar-supp>
<app-sidebar-membre></app-sidebar-membre>

  
  <h3 style="margin-top: -30px;"><i class="fa fa-angle-double-right" style="margin-left: 280px;"></i> Workout Schedule</h3>
  <div _ngcontent-roy-c3="">
           <div >
                <input type="text" class="form-control"  placeholder="Search"  style="height: 30px; width: 400px; margin-left: 280px; margin-top: 8px;" > 
                  </div>
                        
             <table class="table table-striped" style="margin-top: 8%;" >
                  
                      <thead class="thead-inverse">
                        <tr>
                        
                          <th>led by the coach</th>
                          <th style="width: 150px;">Day </th>
                        
                          <th>start time
                            <i class="" aria-hidden="true"></i>
                          </th>
                          <th>end time 
                            <i class="" aria-hidden="true"></i>
                          </th>
                          <th style="width: 150px;"> Join
                            <i class="" aria-hidden="true"></i>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let seance of Seance | paginate : {itemsPerPage: 2, currentPage: p} " >
                          
                              <td>{{seance.coach}} 
                                <br>
                                <td *ngFor="let responsable of Responsable">{{responsable.coachOf}} 
                              </td>
                              <td>{{seance.day}}</td>
                               <td> {{seance.startTime}}</td>
                          
                              <td>{{seance.endTime}}
                             
                              </td>
                           
                              <td>
                                <div class="container">
                                  <button style="margin-left: -20px;" class="btn btn-light" (click)="participer(seance._id);opensweetalert1();" >
                                    <span class="fa fa-star"></span>
                              <strong>Participer</strong>    
                                  </button>
                                 
                                
                               
                                    
                                 
                                </div>
                              </td>
                             
                          </tr>
                      </tbody>
                      
                    </table>
  
  
                    <div class="pagination" style="margin-top: 350px;">
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                  </div>
                  </div>
                
              











